.logo{
    margin-left: 75px;
    margin-top: 0px;
    padding: 18px 20px;
    margin-bottom:40px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px black;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.asid{
    float: left;
    margin-left: 20%;
    background-color: white;
    padding: 32px 48px;
    height:450px;
    margin-top:10%;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 4px 4px 8px black;
}
.asid1{
    display: inline-block;
    height:430px;
    background-color: red;
    padding: 42px 58px;
    color:white;
    margin: 0px;
    margin-top:10%;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 4px 4px 8px black;
}
.entry{
    padding: 8px 10px;
    background-color:peachpuff;
    margin: 5px;
    width:300px;
    border: none;
    border-radius: 1px;
}
.b{
    border: 1px solid black;
    border-radius: 50%;
    padding: 11px;
    color:black;
    background-color:lightgray;
}
.fg{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 10px 50px;
    border-radius: 50px;
    background-color: red;
    color: white;
    font-family:bold;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 70px;
    box-shadow: 3px 3px 6px black;

}
.btn:hover{
    transform: scale(0.9);
}
.ref{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.log2{
    font-size: 50px;
    margin-left: 50px;
    text-shadow: 3px 3px  5px black;
}
input:hover{
    transform: scale(1.1);
    border: 1px  solid black;
    background-color: aliceblue;
}
.b:hover{
    background-color: aliceblue;
}
