    ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: inline;
}
li {
    display:inline-block;
  position:sticky;
    text-decoration: none;
    color: aliceblue;
    margin-top: 1.5%;
}
a{
    text-decoration: none;
    color:white;
    padding:32px 66px;
    font-size: 18px;
}
a:hover{
    font-size: 32px;
    color: white;
}
.log{
    margin-left:15%;
    margin-top:7%;
    opacity: 0.7;
}
@keyframes example{
    from {background-color: black;}
    to {background-color: aliceblue;}
}
.bg{
    height:600px;
    border-radius: 10px;
    background-repeat: no-repeat;

}

h3{
    text-align: center;
    font-size: 25px;
    margin-right: 120px;
    color:white;
}
#searc{
    padding: 12px 16px;
    margin-left:25%;
    width:40%;
    border-radius:10px;
}
#searc:hover{
border-radius: 2px solid black;
}
.gallery{
    display:inline-block;
    margin-top: 4px;

    padding:16px 32px;
    margin-left:100px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px;
    
}
.gallery:hover{
       box-shadow: 8px 8px 10px;
       transform: scale(1.01);
}
.txt{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
}
.gallery1{
    margin:15px;
    border-radius: 10px;
    margin-left: 40px;
}
.menu{
    box-shadow: 2px 2px 9px;
    border-radius: 5px;
    margin: 24px;
    float: left;
    overflow: hidden;
    text-align: center;
}
.menu:hover{
    transform: scale(1.1);
}
.box{
    margin: 40px;
    border: out;
    padding: 28px 56px;
    display: inline-block;
    border-radius: 9px;
    box-shadow: 2px 2px 2px;
}
