{% load static %}
{% block start %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato</title>
    <link rel="stylesheet" href="{% static 'zomo.css' %}">
    <link rel="shorcut icon" href="https://imgs.search.brave.com/3z4z2PwrOs6vk8IUVCv1xWORya2yCVRPt2gSauXpP1g/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20vWWw3LS0x/U2drNURMNWZ1cTdu/dWh1bmY4MXFCNWxY/ZnNIckFxdl9XS1Nt/QS9yczpmaXQ6NTAw/OjA6MDowL2c6Y2Uv/YUhSMGNITTZMeTlw/Yldkei9Mbk5sWVhK/amFDNWljbUYyL1pT/NWpiMjB2TTJoYVpH/dE4vVjFGUGFtVnFR/M1pIWlZZeC9kV1Yx/VUdGMFpISXpNbGRm/L2JYWmtjbGxUUmxK/NGVWQnYvVVM5eWN6/cG1hWFE2TlRZdy9P/ak15TURveE9qQXZa/enBqL1pTOWhTRkl3/WTBoTk5reDUvT1do/ak0wNXNMMlJETlds/ai9iVVoxV2tkYWJH/UkhUbTh2L1RHMXNk/a3d5Ykd0U1dFWnov/VDBjMVJpOVdNalIy/WVZkUy9UMVJGTVZo/Uk1qVkhMMU5EL05Y/ZGliV05mWkZoQ2Ex/bFkvVW13dldrUXdl/RTVxV1ROTy9hbFV4/VG1wWk5DOU9lbGsx/LmpwZWc">    
</head>
<body>
    <div class="bg" style="background-image:url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png)">
 <div>
    <nav>
        <ul>
                <b>
                    <li><a href="#">Investor Relation</a></li>
                    <li><a href="#">Get The App</a></li>
                    <li><a href="#">ADD restaurant</a></li>
                    <li class="login"><a href="#">LOGIN</a></li>
                    <li class="login"><a href="/logout">Logout</a></li>
                </b>
        </ul>
    </nav>
 </div> 
     <div>
        <img class="log" src="https://b.zmtcdn.com/web_assets/8313a97515fcb0447d2d77c276532a511583262271.png" width="60%" height="80%">
     </div>
             <h3>DISCOVER THE BEST FOOD & DRINK IN VADODARA</h3>
     <div>
         <input id="searc" type="search" placeholder=" search for and drinks">
     </div>
 </div>
    
    
  <div class="gallery">
             <img src="https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*"  width="500px" height="300px">
                      <div>
                            <p>ORDER ONLINE</p>
                            <p>Stay home and order to your doorstep</P>
                       </div>
  </div>
  <div class="gallery">
                          <img src="https://b.zmtcdn.com/webFrontend/d026b357feb0d63c997549f6398da8cc1647364915.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*" width="500px" height="300px">
                     <div>
                          <p>DINING</p>
                          <p>View the city's favourite dining venues</P>
                    </div>  
  </div>
    <div class="txt">
        <h1>COLLECTIONS</h1>
        <p>Explore curated lists of top restaurants, cafes, pubs, and bars in Vadodara, based on trends
       <span style="color: red; margin-left: 30%;"><b>All Collection in Vadodara</b></span> </p>
    </div>
    <div>
        <img  class="gallery1, menu" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/5c/36/80/getlstd-property-photo.jpg?w=700&h=-1&s=1" width="300px" height="300px">
        <img class="gallery1, menu" src="https://sukhis.com/app/uploads/2022/04/image2-3-1536x1026.jpg" width="300px" height="300px">
        <img class="gallery1, menu" src="https://images.deccanherald.com/deccanherald%2Fimport%2Fsites%2Fdh%2Ffiles%2Farticle_images%2F2019%2F03%2F12%2Ffile74bx4cb6tiqhqg0bhks-1552332601.jpg?auto=format%2Ccompress&fmt=webp&fit=max&format=webp&q=70&w=900&dpr=1.3" width="300px" height="300px">
        <img  class="gallery1, menu"src="https://media-cdn.tripadvisor.com/media/photo-s/05/79/e4/75/admiral-plaza-hotel.jpg" width="300px" height="300px">
    </div>
    <div>
        <h1>Popular localities in and around Vadodara</h1>
    </div>
    <div>
        <h4 class="box">KADAPA</h4>
        <h4 class="box">KADAPA</h4>
        <h4 class="box">ONGOLE</h4>
        <h4 class="box">VIZAG</h4>
        <h4 class="box">SRIKAKULAM</h4>
        <h4 class="box">VZM</h4>
        <h4 class="box">GUNTUR</h4>
        <h4 class="box">DAMAN</h4>
    </div>
    <div>
        <img src="https://b.zmtcdn.com/data/o2_assets/ce5bc038a8a2d4f8f24465c8826182af1726501431.png" width="350px" height="350px">
    </div>
    <div>
    <div>
        <h1>Get the Zomato app</h1>
        <h4>We will send you a link, open it on your phone to download the app</h4>
        <input type="radio" value="EMAIL">EMAIL</input>
        <input type="radio" value="PHONE">PHONE</input>
    </div>
    <div>
        <input type="serach" placeholder="Email">
        <button>SHARE</button>
    </div>
<div>
<p>Download app from</p>
</div>    
<div>
   <img src="https://th.bing.com/th/id/OIP.jWOGt4FA44v5kzJ6MmDqMgAAAA?rs=1&pid=ImgDetMain">
</div>
             <div>
                <h1>Explore option near me</h1>
                </div>
                <div>
                    <select>
                        <option>Popular cuisines near me</option>
                    <option>
                  <li>Beverages near me</li>
                    <li>Biryani near me</li>
                    </option>
                </select>
             </div>
                <div>
                    <select>
                        <option>Popular Restaurant near me</option>
                    <option>
                  <li>Beverages near me</li>
                    <li>Biryani near me</li>
                    </option>
                </select>
             </div>
                <div>
                    <select>
                        <option>Top restaurant chains</option>
                    <option>
                  <li>Beverages near me</li>
                    <li>Biryani near me</li>
                    </option>
                </select>
             </div>
                <div>
                    <select>
                        <option>Cities we deliver to</option>
                    <option>
                  <li>Beverages near me</li>
                    <li>Biryani near me</li>
                    </option>
                </select>
             </div>
           <div>
                <h3>ZOMATO</h3>
           </div>  
           <div>
            <div style="float:left;">
                <h5>ABOUT<br>ZOMATO</h5>
                <pre>
                    <p>Who We Are</p>
                    <p>Blog</p>
                    <p>Work With Us</p>
                    <p>Investor Relations</p>
                    <p>Report Fraud</p>
                    <p>Press Kit</p>
                    <p>Contact Us</p>
                </pre>
            </div>
            <div style="float:left;">
                <h5>ZOMAVERSE</h5>
                <pre>
                    <p>Zomato</p>
                    <p>Blinkit</p>
                    <p>District</p>
                    <p>Feeding India</p>
                    <p>Hyperpure</p>
                    <p>Zomato Live</p>
                    <p>Zomaland</p>
                    <p>Weather Union</p>
                </pre>
            </div>
            <div style="float:left;">
                <h5>FOR RESTAURANTS</h5>
                <pre>
                    <p>Partner With Us</p>
                    <p>Apps For You</p>
                </pre>
            </div>
            <div style="float:left;">
                <h5>LEARN MORE</h5>
                <pre>
                    <p>Privacy</p>
                    <p>Security</p>
                    <p>Terms</p>
                </pre>
            </div>
            <div style="float:left;">
                <h5>SOCIAL LINKS</h5>
                <p>
                    <a href="#" class="fa fa-facebook"> </a>
                    <a href="#" class="fa fa-twitter"> </a>  
                    <a href="#" class="fa fa-linkedin"> </a>  
                    <a href="#" class="fa fa-instagram"> </a>  
                    <a href="#" class="fa fa-youtube"> </a>  
                    <a href="#" class="fa fa-google"> </a>  
                    <span style="background-color:black; color:white; font-size:20px;" >Join with us  &rarr;</span>
                    </p>
                   <img src="https://th.bing.com/th/id/OIP.jWOGt4FA44v5kzJ6MmDqMgAAAA?rs=1&pid=ImgDetMain">
            </div>
                
        </div>
        {% endblock %}
           
</body>
</html>